<p class="user_action"><a href="/new">Add a Photo</a></p>

<% @entries.each do |entry| %>
  <h3><%= entry.author%></h3>
  <h4><%= entry.date_taken %></h4>
  <a href="/<%= entry.id %>"><img class="entry_photo" src = "<%= entry.photo_url %>"></a>
  <p><%= entry.caption %></p>
<% end %>
